.darkmode-toggle{
    position: absolute;
    background-color: #fff;
    width: 60px;
    height: 30px;
    border-radius: 30px;
    border: 2px solid green;
    cursor: pointer;
    top: 1%;
    right: 5px;

    img {
        width: 25px;
       
        
    }
   
}



.shopping-cart{
    position: absolute;
    background-color: #d3ad7f;
    width: 60px;
    height: 30px;
    border-radius: 30px;
    border: 2px solid green;
    cursor: pointer;
    top: 1%;
    left: 5px;
    img {
        width: 25px;
        
    }
    
}
  