.sect-review{
       .newcustomer{
        display: block;
        margin: auto;
       
       }
    .customers{
        padding-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        .review{
           text-align: center;
           font-family: 'Sedgwick Ave Display', cursive;
           
            line-height: 40px;
           img{
            border-radius: 50%;
            display: block;
            margin: 0 auto;
            
           }
           .name{
            display: block
        }
        .date{
            display: block;
        }
        .dish{
            display: block;
        }
          
           .comment{
            padding-bottom: 20px;
           }
         }
     }

}