.sect-review{
    margin: 3rem 0 3rem 0;
    .newcustomer{
    display: block;
    margin: auto;
    margin-bottom: 2rem;
    background-color: #d3ad7f;
    border-radius: 10px;
    border: 2px solid green;
    padding: 10px;
    color: white;
    font-size: 17px;    
    }
    .customers{
        margin: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .review{
            display:flex;
            flex-direction:column;
            align-items:center;
            text-align: center;
            font-family: $font-text;
            line-height: 30px;
            margin: 10px;
            img{
                border-radius: 50%;
                margin: 10px;
                
            }
            .name{
                text-transform: uppercase;
                margin: 10px;
                letter-spacing: 2px;
            }
            .date{
                letter-spacing: 2px;
            }
            .dish{
                text-transform: uppercase;
                letter-spacing: 2px;
                               
            }
            .comment{
                margin: 10px;
                text-transform: capitalize;
                letter-spacing: 2px;
            }
        }
    }
}
@media screen and (min-width: 768px) {
    .sect-review{
        .customers{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;            
        }
    }
}