.darkmode {
    background-color: rgb(23, 23, 23);

    .tri{
        background-color: rgb(87, 87, 87);
        color: white;
    }

    .modal-content{
        background-color: rgb(87, 87, 87);


        .removeItem{
            background-color: white;
        }
    }


    .card{
        background-color: rgb(87, 87, 87);
        color: white;
    }

    .review{
        color: white;
    }

    footer{
        background-color: rgb(87, 87, 87);
    }
}