

/*@media screen and (min-width: 768px) {
    footer {
        background-color: lightgray;
        height: 500px;
        display: flex;
        align-items: flex-end;  
        justify-content: center;  
    
        nav {
            display: grid;
            grid-template-columns: repeat(2, 50%);
            width: 35%;
            margin-bottom: 2rem;
            li {
                background-color: white;
                padding: 0;
                margin: 5%;
                list-style-type: none;
                height: 20vh;
                width: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: row-reverse;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

                &:hover {
                    background-color: grey;
                }
    
                img {
                    width: 50px;
                }
            
            }
        }
    }
}*/
footer {
   display: flex;
   justify-content: center;
   padding-bottom: 15px;
  
   
 .nav-footer{
     padding-top: 10px;
    a{
        margin: 10px;
        img{
           
            padding: 7px;
            border-radius: 50%;
            width: 30px;
        }
        
       img:hover{
        background-color: #d3ad7f;
       }
       
        } 
        
        
    }
   
 }
  

    
   