.modal-shopping-cart{
    display: none;
    right: 0;

    .modal-content{
        width: 100%;
        background-color: lightgrey;
        border-radius: 10px;
    
        .card{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            align-items: center;
            margin-top: 0.5rem;
            place-items: center;
        }
    
        .removeItem{
            width: 35px;
            aspect-ratio: 1/1;
            border: none;
            background-color: transparent;
            border-radius: 10px;
        }

        .total{
            margin-left: 2rem;
        }
        
    }

    .close{
        border: none;
        background-color: white;
        border-radius: 10px;
    }
}

.animateOn{
    animation: slideIn 0.5s forwards;
}

.animateOff{
    animation: slideOut 0.5s;
}

@keyframes slideIn {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(1vh); }
}

@keyframes slideOut {
  0% { transform: translateX(1vh); }
  100% { transform: translateX(-100%); }
  
}

