/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.darkmode {
  background-color: gray;
}

body {
  font-family: "Sedgwick Ave Display", cursive;
}

header {
  background-image: url("../ressources/restaurant/emran-yousof-aSOYsEMwWaI-unsplash-min.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
}
header h1 {
  color: #ffffff;
  text-shadow: #000000 3px 2px;
  font-size: 40px;
  letter-spacing: 10px;
}

.tri {
  padding: 5px;
  margin: 10px auto 10px auto;
  background-color: lightgray;
  width: fit-content;
  border-radius: 10px;
}
.tri #category-select {
  font-family: "Sedgwick Ave Display", cursive;
}

.sect-article {
  display: grid;
  grid-template-columns: repeat(9, 9rem);
  grid-template-rows: repeat(2, 17rem);
  gap: 1rem;
  overflow: auto;
  margin: 20px 0 20px 0;
}
.sect-article .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: lightgray;
  margin: 0 5px 0 5px;
  border-radius: 10px;
}
.sect-article .card .category {
  margin: 5px 0 5px 0;
}
.sect-article .card .price {
  margin: 5px 0 5px 0;
}
.sect-article .card .name {
  text-align: center;
  margin: 5px 0 5px 0;
}
.sect-article .card .picture {
  width: 7rem;
  height: 8rem;
  margin: 5px 0 5px 0;
  border-radius: 10px;
}
.sect-article .card .addItem {
  width: 30px;
  height: 30px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.sect-article .card .addItem .addItemImg {
  width: 30px;
  border-radius: 10px;
}

.sect-review {
  display: flex;
}
.sect-review .review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sect-review .review img {
  border-radius: 5.625rem;
}
.sect-review .review .comment {
  text-align: center;
}

.modal-shopping-cart {
  display: none;
  right: 0;
}
.modal-shopping-cart .modal-content {
  width: 80vh;
  background-color: lightgrey;
  border-radius: 10px;
}
.modal-shopping-cart .modal-content .card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  margin-top: 0.5rem;
  place-items: center;
}
.modal-shopping-cart .modal-content .removeItem {
  width: 35px;
  aspect-ratio: 1/1;
  border: none;
  background-color: rgb(169, 51, 51);
  border-radius: 10px;
}
.modal-shopping-cart .modal-content .total {
  margin-left: 2rem;
}
.modal-shopping-cart .close {
  border: none;
  background-color: white;
  border-radius: 10px;
}

.animateOn {
  animation: slideIn 0.5s forwards;
}

.animateOff {
  animation: slideOut 0.5s forwards;
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(1vh);
  }
}
@keyframes slideOut {
  0% {
    transform: translateX(1vh);
  }
  100% {
    transform: translateX(-100%);
  }
}